<!DOCTYPE html>
<html lang="en">
<head>
    <title>tableroPrincipal</title>
    <link rel="stylesheet" href="/styles/estilos.css">
</head>
<h3>
    Tablero Aplicaciones Web
</h3>
<br>
<br>
<body>

    <div class="Tablero" style="margin-left: 400px">
        <div class="fila-casillas"><div class="casilla-blanca" style="float: right"></div><div class="casilla-negra" style="float: right"></div><div class="casilla-blanca" style="float: right"></div><div class="casilla-negra" style="float: right"></div><div class="casilla-blanca" style="float: right"></div><div class="casilla-negra" style="float: right"></div><div class="casilla-blanca" style="float: right"></div>
            <div class="casilla-negra"></div><div class="casilla-negra" style="float: right"></div><div class="casilla-blanca" style="float: right"></div><div class="casilla-negra" style="float: right"></div><div class="casilla-blanca" style="float: right"></div><div class="casilla-negra" style="float: right"></div><div class="casilla-blanca" style="float: right"></div><div class="casilla-negra" style="float: right"></div>
            <div class="casilla-blanca"></div><div class="casilla-blanca" style="float: right"></div><div class="casilla-negra" style="float: right"></div><div class="casilla-blanca" style="float: right"></div><div class="casilla-negra" style="float: right"></div><div class="casilla-blanca" style="float: right"></div><div class="casilla-negra" style="float: right"></div><div class="casilla-blanca" style="float: right"></div>
            <div class="casilla-negra"></div><div class="casilla-negra" style="float: right"></div><div class="casilla-blanca" style="float: right"></div><div class="casilla-negra" style="float: right"></div><div class="casilla-blanca" style="float: right"></div><div class="casilla-negra" style="float: right"></div><div class="casilla-blanca" style="float: right"></div><div class="casilla-negra" style="float: right"></div>
            <div class="casilla-blanca"></div><div class="casilla-blanca" style="float: right"></div><div class="casilla-negra" style="float: right"></div><div class="casilla-blanca" style="float: right"></div><div class="casilla-negra" style="float: right"></div><div class="casilla-blanca" style="float: right"></div><div class="casilla-negra" style="float: right"></div><div class="casilla-blanca" style="float: right"></div>
            <div class="casilla-negra"></div><div class="casilla-negra" style="float: right"></div><div class="casilla-blanca" style="float: right"></div><div class="casilla-negra" style="float: right"></div><div class="casilla-blanca" style="float: right"></div><div class="casilla-negra" style="float: right"></div><div class="casilla-blanca" style="float: right"></div><div class="casilla-negra" style="float: right"></div>
            <div class="casilla-blanca"></div><div class="casilla-blanca" style="float: right"></div><div class="casilla-negra" style="float: right"></div><div class="casilla-blanca" style="float: right"></div><div class="casilla-negra" style="float: right"></div><div class="casilla-blanca" style="float: right"></div><div class="casilla-negra" style="float: right"></div><div class="casilla-blanca" style="float: right"></div>
            <div class="casilla-negra"></div><div class="casilla-negra" style="float: right"></div><div class="casilla-blanca" style="float: right"></div><div class="casilla-negra" style="float: right"></div><div class="casilla-blanca" style="float: right"></div><div class="casilla-negra" style="float: right"></div><div class="casilla-blanca" style="float: right"></div><div class="casilla-negra" style="float: right"></div>
            <div class="casilla-blanca"></div>
        </div>
    </div>
    <footer><h3 style="text-align: right">Creado por: Oscar Merino - 30/mayo/2019</h3></footer>

    </body>

</html>

